/*   Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面    */
	  
	


/*把背景顏色設定成:#181a20*/
body {
	background-color: #181a20;
}

/*整個加密貨幣價格的parent*/
.cryptoBody {
	min-height: 100vh;
	/*設定最小高度為視窗高度大小，如果超出就會增加*/
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	/*把flex設定為column*/
	align-items: center;
}

/*黑色被景色的框框以及標題*/
.title {
	background-color: #090808;
	width: 80vw;
	/*把黑框範圍設定成螢幕可視度的80%*/
	height: 8vh;
	display: flex;
	/*設定標題排版*/
	justify-content: space-between;
	align-item: left;
	/*設定標題排版*/
	color: white;
	/*標題字體顏色*/
	font-weight: 500;
	/*設定標題粗度*/
	font-size: 2rem;
	/*設定標題字體大小*/
}

.SOL{
	font-size:3.5rem;
}


/*把標題裡面的文字左右距離加1rem*/
.title p {
	padding-right: 1rem;
	padding-left: 1rem;
}

/*設定市場價格排版*/
.marketPrice {
	display: flex;
	justify-content: space-between;
	flex-direction:column;
	width: 80vw;
	 
   
}

.price p{
	text-align:right;
}
/*設定市場價格幣種圖片大小*/


/*在每個不同的幣種相同的uniquePrice設定相同的屬性*/
.uniquePrice {
	display: flex;
	/*設定標題排版*/
	justify-content: space-between;

	/*設定標題排版*/
	font-size: 1.5rem;
	/*設定字體大小*/
	color: white;
	padding-top:1rem;
	margin-left: 1rem;
	
}


.price p{
	margin-top:1.5rem;
}

/*設定nav bar右半邊*/
.rightPartNav {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*設定使用者圖片*/
.rightPartNav i {
	cursor: pointer;
}

/*設定登出按鈕顯示*/
.rightPartNav {
	position: relative;
}

.logoutButton {
	top: 2.5rem;
	position: absolute;
	background: #f6f6f6;
	border-radius: 5px;
}

.logoutButton a {
	text-decoration: none;
	color: black;
}

/*讓導覽列左右各有3個字的距離*/
.navRWD {
	margin-left: 3rem;
	margin-right: 3rem;
}


@media(min-width:1500px){

	.navRWD {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

/*登出按鈕RWD設定*/
@media ( max-width :800px) {
	.logoutButton {
		height: 10vh;
		width: 5vw;
	}
	
	
}

/*在寬度為450時讓導覽列左右沒有距離*/
@media ( max-width :450px) {
	nav {
		margin-left: 0rem;
	}
}

/*在寬度在365以下時把標題背景寬度設定為視窗最大寬度*/
@media ( max-width :365px) {
	.title {
		width: 100vw;
		font-size: 1.5rem;
		/*把標題字體縮小做RWD*/
		font-weight: 200;
	}
}

/*在螢幕寬度350以下時讓幣價都呈現為螢幕最大寬度，並且把字體縮小*/
@media ( max-width :350px) {
	.marketPrice {
		width: 100vw;
	}
	.uniquePrice p {
		font-size: 1rem;
	}
}

/*在寬度為320時讓導覽列的button右邊有3個字的距離*/
@media ( max-width :320px) {
	.buttonRWD {
		margin-right: 3rem;
	}
}

@media ( max-width :330px) {
	.logoutButton {
		width: 8vw;
	}
}

/*在寬度為300時讓導覽列的右半邊部分沒有距離*/
@media ( max-width :300px) {
	.navRWD {
		margin-left: 0rem;
	}
}

/*在螢幕250以下時讓標題高度為11vh並且讓user字體變小*/
@media ( max-width :250px) {
	.title {
		height: 11vh;
	}
	.rightPartNav {
		font-size: 15px;
	}
}