/*   Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面    */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*把背景顏色設定成:#181a20*/
body {
	background-color: "white";
}

/*設定標題列的排版*/
.navbar-brand {
	margin-left: 1rem;
}
/*黑色被景色的框框以及標題*/
.title {
	background-color: black;
	padding-bottom: 1rem;
	display: flex;
	/*設定標題排版*/
	font-size: 2rem;
	/*設定字體大小*/
	color: white;
	padding-top: 1rem;
}

/*在每個不同的幣種相同的uniquePrice設定相同的屬性*/
.uniquePrice {
	display: flex;
	/*設定標題排版*/
	justify-content: space-between;
	/*設定標題排版*/
	font-size: 1.5rem;
	/*設定字體大小*/
	color: black;
	padding-top: 1rem;
}

/*設定價格旁邊的圖片*/
.uniquePrice {img { margin-top:0.5rem;
	width: 25px;
	height: 25px;
}

}

/*設定nav bar右半邊*/
.rightPartNav {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*設定使用者圖片*/
.rightPartNav i {
	cursor: pointer;
}

/*設定登出按鈕顯示*/
.rightPartNav {
	position: relative;
}

.logoutButton {
	top: 2.5rem;
	position: absolute;
	background: #f6f6f6;
	border-radius: 5px;
}

.logoutButton a {
	text-decoration: none;
	color: black;
}

.containerContent {
	margin-top: 2rem;
}

/*寬度1650以上設定導覽列左右距離*/
@media ( min-width :1650px) {
	.navRWD {
		margin-left: 18rem;
		margin-right: 18rem;
	}
}

/*寬度1600以上設定導覽列左右距離*/
@media ( min-width :1600px) {
	.navRWD {
		margin-left: 18rem;
		margin-right: 18rem;
	}
}

@media ( max-width :1450px) {
	.navRWD {
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

/*登出按鈕RWD設定*/
@media ( max-width :800px) {
	.logoutButton {
		height: 10vh;
		width: 5vw;
	}
	.uniquePrice {img { margin-top:0rem;
		width: 25px;
		height: 25px;
	}
}

}
@media ( max-width :770px) {
	.container {
		width: 100%;
	}
	.container div {
		font-size: 1rem;
	}
}

@media ( max-width :600px) {
	.containerContent {
		margin-top: 0rem;
	}
}

@media ( max-width :500px) {
	.uniquePrice {
		padding-top: 2rem;
	}
}

/*在寬度為450時讓導覽列左右沒有距離*/
@media ( max-width :440px) {
	nav {
		margin-left: 0rem;
	}
	.titleRate {
		margin-right: 0rem;
	}
}

/*在寬度在365以下時把標題背景寬度設定為視窗最大寬度*/
@media ( max-width :365px) {
	.title {
		width: 100vw;
		font-size: 1.5rem;
		/*把標題字體縮小做RWD*/
		font-weight: 200;
	}
}

/*在螢幕寬度350以下時讓幣價都呈現為螢幕最大寬度，並且把字體縮小*/
@media ( max-width :350px) {
	.uniquePrice p {
		font-size: 1rem;
	}
}

/*在寬度為320時讓導覽列的button右邊有3個字的距離*/
@media ( max-width :320px) {
	.buttonRWD {
		margin-right: 3rem;
	}
	/*在寬度為320時讓錶覽列往左邊靠*/
	.navRWD {
		margin-left: 0rem;
	}
}

@media ( max-width :330px) {
	.logoutButton {
		width: 8vw;
	}
}

/*在螢幕250以下時讓標題高度為11vh並且讓user字體變小*/
@media ( max-width :250px) {
	.title {
		height: 11vh;
	}
	.rightPartNav {
		font-size: 15px;
	}
}