/*   Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面    */




/*********設定Sign up排版***********/

/*設定login content的排版方式，以及把它置中*/
.sign-up {

	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

/*Sign up外框設定*/
form {
	border: solid 1px #dadce0;
	padding: 2rem;
}


/*form的輸入框*/
form input {
	background-color: #D9D9D9;
	width: 20vw;
	padding: 0.5rem;
	margin: 1rem;
	width: 20rem;

}

/*註冊按鈕設定*/
form button {
	width: 20vw;
	padding: 0.5rem;
	margin: 1rem;
	width: 20rem;

}

/*sign up按鈕設定*/
form button.signupButton {
	background-color: #0047ff;
}

/*用google sign up按鈕設定*/
form button.signupGoogle {
	background-color: white;
	background-image: url(./img/googlepig.png);
	background-repeat: no-repeat;
	background-size: contain;

}

/*form表單裡面密碼設定(position)*/
.password {
	position: relative;
}

/*設定密碼旁邊小眼睛*/
.password img {
	position: absolute;
	top: 50%;
	left: 82%;
	transform: translateY(-50%);
	padding: 0 16px;
	cursor: pointer;
}

.success-link {
	color: green;
}

.error-link {
	color: red;
}

/*在寬度340以下時把form裡面的input寬度都顯示為視窗寬度100*/
@media(max-width:340px) {
	.formRWD {
		width: 100vw;
	}
}

/*在寬度280以下時讓導覽列RWD按鈕可以跟右邊有距離*/
@media(max-width:280px) {
	.buttonRWD {
		margin-right: 3rem;
	}

	.password img {
		padding: 0 0;
	}
}