/*   Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面    */




  /*內容設定*/
        .stakingContent {
            min-height: 100vh;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;

        }

        /*內容標題字體設定*/
        .stakingTitle {
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        /*設定Staking內容排版以及最大寬度為螢幕視窗寬度*/
        .stakingInfo {
            margin-top: 1rem;
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
        }

        /*每個框框都是一個section，設定三個框框的相同屬性*/
        .section {
            border: solid 2px #dadce0;
            width: 300px;
            height: 150px;
        }

        /*設置激勵內容的框框*/
        .incentive {
            margin-top: 2rem;
            border: solid 2px #dadce0;
            width: 400px;
            height: 300px
        }

        /*設定綁定內容的框框*/
        .bondedNumber {
            display: flex;
            justify-content: center;
            padding-top: 1rem
        }

        /*設定綁定內容框框裡面的乙太幣圖片*/
        .bondedToken .bondedNumber img {
            width: 3rem;
            height: 3rem;
        }

        /*設定nav bar右半邊*/
        .rightPartNav {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*設定登出按鈕顯示*/
        .rightPartNav {
            position: relative;
        }

        .logoutButton {
            top: 2.5rem;
            position: absolute;
            width: 3vw;
            height: 5vh;
            background: #f6f6f6;
            border-radius: 5px;
        }

        .logoutButton a {
            text-decoration: none;
            color: black
        }

        /*設定使用者圖片*/
        .rightPartNav i {
            cursor: pointer;
        }

        /*設定標題左右邊各3個字的距離*/
        .navRWD {
            margin-left: 3rem;
            margin-right: 3rem'

        }

        /*登出按鈕RWD設定*/
        @media(max-width:1170px) {
            .logoutButton {
                height: 10vh;

            }
        }

        /*在寬度960以下設定排版變成直列排版*/
        @media(max-width:960px) {
            .stakingInfo {
                flex-direction: column;
                width: 100vw;
                align-items: center;
            }

            .stakingInfo div {
                margin: 2rem 0rem;
            }

        }

        @media(max-width:800px) {
            .logoutButton {
                height: 10vh;
                width: 5vw;
            }
        }

        /*在寬度為380以下把激勵區域的寬度設定為視窗寬度*/
        @media(max-width:380px) {
            .incentive {
                width: 100vw;
            }
        }

        @media(max-width:330px) {
            .logoutButton {
                width: 8vw;
            }
        }

        /*在寬度為320以下時把導覽列的按鈕右邊為3個字的寬度*/
        @media(max-width:320px) {
            .buttonRWD {
                margin-right: 3rem;
            }
        }

        /*在寬度為300以下設置導覽列左右無間距*/
        @media(max-width:300px) {
            .navRWD {
                margin-left: 0rem;
            }
        }

        /*在螢幕250以下時讓user字體變小*/
        @media(max-width:250px) {

            .rightPartNav {
                font-size: 15px;
            }


        }

        /*在螢幕250以下時讓user字體變小*/
        @media(max-width:250px) {

            .rightPartNav {
                font-size: 15px;
            }


        }