/*
    Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面   
    */

/*把背景變成黑色和導覽列變成同一個顏色*/
/*Making navbar and background as same color*/
body {
	background-color: #181a20;
	-ms-overflow-style: none;
}

/**********************左半邊*************************************/
/*設定slogn的font-size成5rem*/
/*set font-size 5 times than default size */
.slog {
	font-size: 5rem;
}

/*把內容設定最高低高度為100vh*/
/*set min-height as 100vh*/
.content {
	min-height: 100vh;
}
/**********************右半邊*************************************/
/*設定右半邊margin-left:5個字的大小*/
.rightpart {
	margin-left: 5rem;
}

/*設定最火熱的五檔加密和幣背景顏色以及高度*/
/*set current price and top three hotest crypto*/
.cryptoprice {
	padding-top: 1.5rem;
	color: white;
	height: 50vh;
	background-color: #1E2329;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

/*設定五檔加密或幣圖片高度寬度*/
div.cryptoprice p img {
	width: 2rem;
	height: 2rem;
}

/*五檔加密或幣單獨設定*/
.fivecrypto {
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-evenly;
}

/*設定距離比特幣減半日期*/
/*How many days are we have from halving*/
.halving {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	height: 20vh;
	background-color: #1E2329;
	border-radius: 15px;
	
	position: relative;
}
/*設定比特幣減半的標題*/
.halvingTitle {
	display: flex;
	padding-top: 1rem;
	margin-left: 1rem;
	
	
}
/*設定標題旁邊的問號*/
.questionMark {
	cursor: pointer;
	
}


/*滑上去問號後的內容怎麼顯示*/
.questionMarkContent {
  display: none;
}

/*滑上去後的內容以及設定*/
.questionMark:hover .questionMarkContent{
	display: block;
  	position: absolute;
  	font-size:1rem;
  	top:3rem;
  	background-color:#808080;
	
}
/*設定彼特幣減半的日期*/
.halvingDate {
	display: flex;
	margin: 1rem;
}
/*個別設定:日期*/
.day {
	margin-right: 1rem;
}
/*個別設定:小時*/
.hour {
	margin-right: 1rem;
}
/*個別設定:分鐘*/
.minute {
	margin-right: 1rem;
}

/*每個時間旁邊的英文字體特別設定*/
.halvingDate span {
	font-size: 1rem;
}

/*設定nav bar右半邊*/
.rightPartNav {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*設定使用者圖片*/
.rightPartNav i {
	cursor: pointer;
}

/*讓導覽列左右各有3個字的距離*/
.navRWD {
	margin-left: 3rem;
	margin-right: 3rem'
}
/*讓導覽列按鈕在RWD出現之後可以變換顏色*/
.navbar-toggler {
	background-color: #D9D9D9;
}

/*在寬度800以上把幣價背景調成30vh*/
@media ( min-height :800px) {
	.cryptoprice {
		height: 30vh;
	}
}

/*寬度1500以上設定導覽列左右距離*/
@media ( min-width :1500px) {
	.navRWD {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

/*高度在900以上時設定上面距離*/
@media(min-height:900px){
	.content{
		margin-top:5rem;
	}
}

/*在寬度900以下時設定slogn寬度為螢幕寬度100，且離左邊有7個字的距離*/
@media ( max-width : 900px) {
	.slog {
		width: 100vw;
		margin-left: 7rem;
		font-weight: 300;
	}

	/*在寬度為900以下時讓價格區域寬度為螢幕寬度100*/
	.cryptoprice {
		width: 100vw;
	}

	/*在寬度為900以下時內容部分為直行排列*/
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/*在寬度850以下時的設定*/
@media ( max-width : 850px) {
	.rightpart {
		margin-top: 2rem;
		/*設定幣價以及比特幣減半上方的距離*/
	}

	/*彼特幣減半時設定*/
	.halving {
		margin-top: 5rem;
		margin-right: 5rem;
		width: 100vw;
	}
	body::-webkit-scrollbar {
		display: none;
		/*設定無scroll bar*/
	}
}

/*在寬度為450時讓導覽列左右沒有距離*/
@media ( max-width :450px) {
	nav {
		margin-left: 0rem;
	}
}

/*在寬度為320時讓導覽列的button右邊有3個字的距離*/
@media ( max-width :320px) {
	.buttonRWD {
		margin-right: 3rem;
	}
}

/*在寬度為300時讓導覽列的右半邊部分沒有距離*/
@media ( max-width :300px) {
	.navRWD {
		margin-left: 0rem;
	}
}