/*   Css RWD排版規則，由大排到小，同屬性的話會單獨排，如果只有單一屬性會在最下面    */




/*把背景顏色設定成:#181a20*/
    body {

      background-color: black;
    }

    /*設定內容部分排版*/
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /*設定餘額部分*/
    .balance {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #D9D9D9;
      margin-right: 5rem;
      background-image: url(./img/usdt.png);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: auto;
    }

    /*設定交易部分表單*/
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    /*設定交易部分表單的輸入框*/
    form input {
      width: 20rem;
      height: 3rem;
      margin: 2rem 0;
      background-color: #D9D9D9;
    }

    /*設定交易部分表單的按鈕*/
    form button {
      width: 10rem;
      height: 3rem;
      background-color: #D9D9D9;
      font-weight: bolder;
    }

    /*設定買入以及轉出按鈕*/
    .transactionButton {
      display: flex;
      justify-content: space-evenly;

    }

    /*設定買入以及轉出a標籤*/
    .transactionButton a {
      font-size: 2rem;
      background-color: #D9D9D9;
      margin: 2rem;
      text-decoration: none;
      color: black;

    }

    /*讓導覽列左右各有3個字的距離*/
    .navRWD {
      margin-left: 3rem;
      margin-right: 3rem'

    }

    /*設定nav bar右半邊*/
    .rightPartNav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /*設定使用者圖片*/
    .rightPartNav i {
      cursor: pointer;
    }

    /*設定登出按鈕顯示*/
    .rightPartNav {
      position: relative;
    }

    .logoutButton {
      top: 2.5rem;
      position: absolute;
      width: 3vw;
      height: 5vh;
      background: #f6f6f6;
      border-radius: 5px;
    }

    .logoutButton a {
      text-decoration: none;
      color: black
    }

    /*讓input的placeholder致中*/
    input::placeholder {
      text-align: center;
      /* 文字水平居中 */
      vertical-align: middle;


    }

    /*讓input的輸入文字置中*/
    input {
      text-align: center;
      /* 输入框内文本水平居中 */

    }


    /*讓導覽列按鈕在RWD出現之後可以變換顏色*/
    .navbar-toggler {
      background-color: #D9D9D9;
    }

    /*在螢幕寬度700以上設置與上方距離5的字大小*/
    @media(min-width:700px) {
      .content {
        margin-top: 5rem;
      }
    }


    /*在螢幕寬度700以下變成直欄排列，並設定為寬度為螢幕寬度*/
    @media(max-width:700px) {
      .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .transId {
        width: 100vw;
      }

      .transaction {
        margin-right: 1.5rem;
      }

      .balance {
        width: 250px;
        height: 250px;
        margin-left: 5rem;
      }
    }

    /*登出按鈕RWD設定*/
    @media(max-width:1170px) {
      .logoutButton {
        height: 10vh;

      }
    }

    @media(max-width:800px) {
      .logoutButton {
        height: 10vh;
        width: 5vw;
      }
    }

    @media(max-width:330px) {
      .logoutButton {
        width: 8vw;
      }
    }

    /*在寬度為450時讓導覽列左右沒有距離*/
    @media(max-width:450px) {
      nav {
        margin-left: 0rem;
      }
    }

    /*在寬度為320時讓導覽列的button右邊有3個字的距離*/
    @media(max-width:320px) {
      .buttonRWD {
        margin-right: 3rem;
      }
    }

    /*在寬度為300時讓導覽列的右半邊部分沒有距離*/
    @media(max-width:300px) {
      .navRWD {
        margin-left: 0rem;
      }
    }

    /*在螢幕寬度400以下時設置買入以及轉出標籤與上方距離*/
    @media(max-width:400px) {
      .transactionButton {
        margin-top: 2rem;
      }

      /*設置圓形餘額大小*/
      .balance {
        width: 200px;
        height: 200px;

      }
    }

    /*因轉出以及轉入標籤在寬段260以下時會被壓縮，所以把他轉為直欄排列*/
    @media(max-width:260px) {
      .transactionButton {
        flex-direction: column;
      }

      .buy {
        margin-bottom: 0.5rem;
      }

    }

    /*在螢幕250以下時讓user字體變小*/
    @media(max-width:250px) {

      .rightPartNav {
        font-size: 15px;
      }


    }